---
import type { Metadata } from "../../env";

export interface Props extends Metadata {}

 const {
   title = 'Benjamin Matthews',
   description = "Hi! I'm Benjamin, and welcome to my corner of the web. Come learn about what I'm up to currently!",
   site = Astro.site,
   // image = new URL('default-social.jpg', site),
} = Astro.props;
---

<!-- Primary Meta -->
<title>{title}</title>

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0"
/>
<meta
  name="description"
  content={description}
/>

<!-- Sitemap -->
<link
  rel="sitemap"
  href="/sitemap-index.xml"
/>

<!-- Open Graph / Facebook -->
<meta
  property="og:title"
  content={title}
/>
<meta
  property="og:type"
  content="website"
/>
<meta
  property="og:description"
  content={description}
/>
<!--<meta-->
<!--  property="og:image"-->
<!--  content={image}-->
<!--/>-->
<meta
  property="og:url"
  content={site}
/>

<!-- Twitter -->
<meta
  name="twitter:card"
  content="summary_large_image"
/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content={site}>
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<!--<meta name="twitter:image" content={image}>-->

<!-- Canonical URL -->
<link rel="canonical" href={site}>
