---
// import type { MetaData as MetaDataType } from '~/types';

// export interface Props extends MetaDataType {}

// const {
//   title = 'Benjamin R. Matthews',
//   description = "Hi! I'm Benjamin, and welcome to my corner of the web. Come learn about what I'm up to currently!",
//   site = Astro.site,
//   image = new URL('default-social.jpg', site),
// } = Astro.props;
---

<!-- Primary Meta -->
<!--<title>{title}</title>-->

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0"
/>
<!--<meta-->
<!--  name="description"-->
<!--  content={description}-->
<!--/>-->

<!-- TODO: Sitemap -->

<!-- Open Graph / Facebook -->
<!--<meta-->
<!--  property="og:title"-->
<!--  content={title}-->
<!--/>-->
<!--<meta-->
<!--  property="og:type"-->
<!--  content="website"-->
<!--/>-->
<!--<meta-->
<!--  property="og:description"-->
<!--  content={description}-->
<!--/>-->
<!--<meta-->
<!--  property="og:image"-->
<!--  content={image}-->
<!--/>-->
<!--<meta-->
<!--  property="og:url"-->
<!--  content={site}-->
<!--/>-->

<!-- Twitter -->
<!--<meta-->
<!--  name="twitter:card"-->
<!--  content="summary_large_image"-->
<!--/>-->
<!--<meta name="twitter:card" content="summary_large_image">-->
<!--<meta name="twitter:url" content="https://bmatt468.com">-->
<!--<meta name="twitter:title" content="BMATT468 — Portfolio & Blog">-->
<!--<meta name="twitter:description" content="Personal portfolio and tech blog by BMATT468.">-->
<!--<meta name="twitter:image" content="https://bmatt468.com/assets/preview.jpg">-->

<!-- Canonical URL -->
<!--<link rel="canonical" href="https://bmatt468.com">-->

